* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.game-container {
    text-align: center;
}

canvas {
    border: 1px solid hotpink;
}

.chrome-container {
    display: flex;
}

.chrome-container > div {
    flex-basis: calc(100% / 3);
}

.meter {
    width: 100%;
    height: 10px;
    background-color: black;
}

.meter--power {
    color: blue;
}

.meter--recovery {
    color: yellow;
}

.meter--charged {
    outline: 1px solid red;
}

.meter__bar {
    width: var(--percent-filled, 0%);
    height: 10px;
    background-color: currentColor;
}

