@import "~normalize.css";

:root {
    --red: #dd1c1a;
    --purple: #2c2a4a;
    --blue: #01baef;
    --yellow: #efa00b;
    --green: #4b6858;
    --gray: #808080;
    --black: #1f1f29;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    color: white;
}

.hide-debug {
    display: none;
}

/* LAYOUT */

.game-container {
    text-align: center;
    width: 512px;
    height: 512px;
    font-size: 0;
}

.chrome-container {
    display: flex;
}

.container {
    padding: 16px;
    flex-basis: calc(100% / 3);
    position: relative;
}

/* CONTROLS */

.container--controls .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.control.control--stacked {
    flex-direction: column;
}

.control + .control {
    justify-content: flex-end;
}

/* MESSAGES */
.message-box {
    position: absolute;
    bottom: 16px;
    width: 80%;
    height: 128px;
    background-color: var(--purple);
    backdrop-filter: blur(2px);
    display: flex;
    padding: 8px;
}

.message-box--empty {
    display: none;
}

.message-box__message {
    height: 100%;
    flex-grow: 1;
    overflow: auto;
    background-color: white;
    border-radius: 3px;
    color: var(--black);
    padding: 4px;
    font-size: 14px;
}

.message-box__image {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--black);
    border-radius: 3px;
    margin-right: 8px;
}

/* METADATA */

.indicator {
    margin-bottom: 24px;
}

.meter {
    width: 100%;
    background-color: var(--gray);
    border-radius: 3px;
    position: relative;
    height: 4px;
    border-radius: 3px;
    transition: box-shadow 0.2s ease-in-out;
}

.meter::after {
    content: "";
    display: block;
    height: 100%;
    width: var(--percent-filled, 0%);
    background-color: currentColor;
    transition: width 0.1s;
}

.meter--instability {
    color: var(--red);
}

.meter--power {
    color: var(--blue);
}

.meter--recovery {
    color: var(--yellow);
}

.meter--charged {
    box-shadow: 0 0 3px 1px currentColor;
}

.resource-direction {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    background: var(--green);
    border-radius: 100%;
    position: relative;
}

.resource-direction::before,
.resource-direction::after {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--black);
    display: block;
    z-index: 25;
}

.resource-direction::after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 5px;
    transform: translateY(-50%);
}

.resource-blip {
    --none: 50%;
    --distance: 65%;

    position: absolute;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    top: var(--none);
    left: var(--none);
    background-color: var(--red);
    z-index: 50;
    border-radius: 100%;
}

.resource-direction--far .resource-blip {
    --distance: 80%;
}

.resource-direction--none .resource-blip {
    background-color: var(--gray);
}

.resource-direction--n .resource-blip {
    top: calc(100% - var(--distance));
}

.resource-direction--e .resource-blip {
    left: var(--distance);
}

.resource-direction--s .resource-blip {
    top: var(--distance);
}

.resource-direction--w .resource-blip {
    left: calc(100% - var(--distance));
}

/* ICONS */

.icon {
    display: inline-block;
    border: none;
    height: 32px;
    width: 32px;
    padding: 0;
}

.icon::after {
    content: "";
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: currentColor;
    -webkit-mask: var(--bg-image) no-repeat center;
    mask: var(--bg-image) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.icon-caret-up {
    --bg-image: url("~bootstrap-icons/icons/caret-up-fill.svg");
}

.icon-caret-right {
    --bg-image: url("~bootstrap-icons/icons/caret-right-fill.svg");
}

.icon-caret-left {
    --bg-image: url("~bootstrap-icons/icons/caret-left-fill.svg");
}

.icon-caret-down {
    --bg-image: url("~bootstrap-icons/icons/caret-down-fill.svg");
}
