@import "~normalize.css";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

canvas {
    border: 1px solid hotpink;
}

.hide-debug {
    display: none;
}

/* LAYOUT */

.game-container {
    text-align: center;
    min-width: 512px;
}

.chrome-container {
    display: flex;
}

.chrome-container > div {
    flex-basis: calc(100% / 3);
}

/* CONTROLS */

.controls-container .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.control.stacked {
    flex-direction: column;
}

.control + .control {
    justify-content: flex-end;
}

/* METADATA */

.meter {
    width: 100%;
    height: 10px;
    background-color: black;
}

.meter--instability {
    color: red;
}

.meter--power {
    color: blue;
}

.meter--recovery {
    color: yellow;
}

.meter--charged {
    outline: 1px solid red;
}

.meter__bar {
    width: var(--percent-filled, 0%);
    height: 10px;
    background-color: currentColor;
}

.resource-direction {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    background: green;
    border-radius: 100%;
    position: relative;
}

.resource-direction::before,
.resource-direction::after {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    display: block;
    z-index: 25;
}

.resource-direction::after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 5px;
    transform: translateY(-50%);
}

.resource-blip {
    --none: 50%;
    --distance: 65%;

    position: absolute;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    top: var(--none);
    left: var(--none);
    background-color: red;
    z-index: 50;
    border-radius: 100%;
}

.resource-direction--far .resource-blip {
    --distance: 80%;
}

.resource-direction--none .resource-blip {
    display: none;
}

.resource-direction--n .resource-blip {
    top: calc(100% - var(--distance));
}

.resource-direction--e .resource-blip {
    left: var(--distance);
}

.resource-direction--s .resource-blip {
    top: var(--distance);
}

.resource-direction--w .resource-blip {
    left: calc(100% - var(--distance));
}

/* ICONS */

.icon {
    display: inline-block;
    border: none;
    height: 32px;
    width: 32px;
    padding: 0;
}

.icon::after {
    content: "";
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: currentColor;
    -webkit-mask: var(--bg-image) no-repeat center;
    mask: var(--bg-image) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.icon-caret-up {
    --bg-image: url("~bootstrap-icons/icons/caret-up-fill.svg");
}

.icon-caret-right {
    --bg-image: url("~bootstrap-icons/icons/caret-right-fill.svg");
}

.icon-caret-left {
    --bg-image: url("~bootstrap-icons/icons/caret-left-fill.svg");
}

.icon-caret-down {
    --bg-image: url("~bootstrap-icons/icons/caret-down-fill.svg");
}
