@import "~normalize.css";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

canvas {
    border: 1px solid hotpink;
}

.hide-debug {
    display: none;
}

/* LAYOUT */

.game-container {
    text-align: center;
}

.chrome-container {
    display: flex;
}

.chrome-container > div {
    flex-basis: calc(100% / 3);
}

/* CONTROLS */

.controls-container .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.control.stacked {
    flex-direction: column;
}

.control + .control {
    justify-content: flex-end;
}

/* METADATA */

.meter {
    width: 100%;
    height: 10px;
    background-color: black;
}

.meter--instability {
    color: red;
}

.meter--power {
    color: blue;
}

.meter--recovery {
    color: yellow;
}

.meter--charged {
    outline: 1px solid red;
}

.meter__bar {
    width: var(--percent-filled, 0%);
    height: 10px;
    background-color: currentColor;
}

/* ICONS */

.icon {
    display: inline-block;
    border: none;
    height: 32px;
    width: 32px;
    padding: 0;
}

.icon::after {
    content: "";
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: currentColor;
    -webkit-mask: var(--bg-image) no-repeat center;
    mask: var(--bg-image) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.icon-caret-up {
    --bg-image: url("~bootstrap-icons/icons/caret-up-fill.svg");
}

.icon-caret-right {
    --bg-image: url("~bootstrap-icons/icons/caret-right-fill.svg");
}

.icon-caret-left {
    --bg-image: url("~bootstrap-icons/icons/caret-left-fill.svg");
}

.icon-caret-down {
    --bg-image: url("~bootstrap-icons/icons/caret-down-fill.svg");
}
